Tests: run-smoke-check test-arm64-fbterm-logic.sh test-kernel-version-parsing.sh test-lvm-devices-fix.sh test-ocs-get-dev-info.sh test-bare-disk-duplicates.sh test-fbterm-fontsize-logic.sh test-fbterm-fontconfig-toggle.sh test-get-resolution-logic.sh test-restoreparts-identical-disk-bypass.sh test-grub-efi-gop.sh test-dhcpcd-config.sh test-ocs-onthefly-options-parsing.sh test-ocs-alias-block-dev-dialog.sh test-ocs-update-initrd-dracut.sh test-ocs-update-initrd-btrfs-opensuse.sh test-is-disk-without-part-and-fs.sh test-disable-stdin-nonblock.sh
Depends: @, shunit2, coreutils, locales, jq, html2text, console-setup, udev
Restrictions: allow-stderr, needs-root
