## This is the systemd service for stop-ocs-live.

[Unit]
Description=Clonezilla live shutdown service
Before=shutdown.target
DefaultDependencies=no
ConditionPathExists=/etc/ocs/stop-ocs-live
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
ExecStart=/etc/ocs/stop-ocs-live start

[Install]
WantedBy=reboot.target halt.target poweroff.target
