## live-config - System Configuration Components
##
## live-config contains the components that configure a live system during
## the boot process (late userspace).
##
## This is the systemd service for live-config.


[Unit]
Description=Clonezilla live startup service
After=live-config.service
Before=getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service
DefaultDependencies=no
ConditionPathExists=/usr/share/drbl/setup/files/ocs/live-hook/start-ocs-live
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/drbl/setup/files/ocs/live-hook/start-ocs-live start
StandardInput=console
StandardOutput=console

[Install]
WantedBy=getty.target
