## live-config - System Configuration Components
##
## live-config contains the components that configure a live system during
## the boot process (late userspace).
##
## This is the systemd service for live-config.


[Unit]
Description=GParted live startup service
After=live-config.service systemd-user-sessions.service
Before=getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyS1.service serial-getty@ttyS2.service serial-getty@ttyS3.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=display-manager.service
DefaultDependencies=no
ConditionPathExists=/etc/gparted-live/start-gparted-live
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/gparted-live/start-gparted-live start

[Install]
WantedBy=getty.target
