## This is the systemd service for start-drbl-live.

[Unit]
Description=DRBL live startup service
After=live-config.service systemd-user-sessions.service
Before=getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyS1.service serial-getty@ttyS2.service serial-getty@ttyS3.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=display-manager.service
DefaultDependencies=no
ConditionPathExists=/etc/drbl/start-drbl-live
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/drbl/start-drbl-live start

[Install]
WantedBy=getty.target
