## This is the systemd service for stop-drbl-live.

[Unit]
Description=DRBL live shutdown service
Before=shutdown.target
DefaultDependencies=no
ConditionPathExists=/etc/drbl/stop-drbl-live
ConditionKernelCommandLine=boot=live

[Service]
Type=oneshot
ExecStart=/etc/drbl/stop-drbl-live start

[Install]
WantedBy=reboot.target halt.target poweroff.target
