# The udev rule to run ocs-blkdev-sorter when a disk is added or removed.
ACTION=="add|remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", RUN+="/usr/sbin/ocs-blkdev-sorter"
